@import './search-bar/search-bar.module.css';
@import './header-logo/header-logo.module.css';

.header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 3;
  box-shadow: 0px 0px 40px var(--grey-800);
  border-bottom: 1px solid var(--grey-400);
}

.nav {
  padding: 15px 30px 15px 80px;
  position: relative;
}

.nav_menu {
  justify-content: space-between;
}

.search_container {
  display: flex;
  flex: 1;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
  }
  .nav {
    padding: 15px 2.5rem;
  }
}
