.main {
  position: relative;
}

.content {
  background: #fefefe;
  padding: 1.25rem 1.875rem;
  box-shadow: inset -10px 0px 40px rgba(0, 0, 0, 0.05);
}
.return {
  color: var(--green);
  font-size: 1rem;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .main {
    display: grid;
    z-index: 1;
    grid-template-columns: 350px 1fr;
  }

  .content {
    padding: 150px 2.5rem 27px;
  }
}
