.main {
  position: relative;
}

.content {
  background: #fefefe;
  padding: 1.25rem 1.875rem;
  box-shadow: inset -10px 0px 40px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .main {
    display: grid;
    z-index: 1;
    grid-template-columns: 350px 1fr;
  }

  .content {
    padding: 27px 2.5rem;
  }
}
