:root {
  --grey-400: rgb(221, 221, 221);
  --white: rgb(255, 255, 255);
  --grey-300: rgb(238, 238, 238);
  --grey-500: rgb(170, 170, 170);
  --grey-800: rgba(0, 0, 0, 0.05);
  --grey-900: rgb(51, 51, 51);
  --tablet: 786px;
  --black: rgb(0, 0, 0);
  --green: rgb(101, 193, 0);
  --red: rgb(208, 1, 27);
}
