*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, -apple-system, Helvetica, Roboto, sans-serif;
}

button {
  background: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
