@import '_constants.css';
@import '_reset.css';

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.books-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 323px);
  grid-gap: 1.25rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.glider-contain {
  width: calc(100% + 5rem);
  margin-left: -2.5rem;
}

.glider-slide {
  min-width: 140px !important;
}

.glider-btn {
  background: rgba(249, 248, 248, 0.506);
  cursor: pointer;
  height: 240px;
  width: 50px;
  margin-left: 1.5rem;
  transform: translateY(-38%);
  text-align: center;
}

.glider-next {
  margin: 0 1.5rem 0 0;
}

.glider-track {
  padding-right: 100px !important;
}
.dots {
  margin-top: 30px;
}

.glider-dot.active {
  background: var(--green) !important;
}

@media (min-width: 768px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .glider-slide {
    min-width: 240px !important;
  }

  .glider-track {
    padding-right: 0;
  }

  .glider-btn {
    height: 365px;
    width: 50px;
    transform: translateY(-35%);
    margin-left: 1rem;
  }

  .glider-next {
    margin: 0 1rem 0 0;
  }
}
