.details-card {
  display: flex;
  width: 100%;
  max-height: 10rem;
}

.details-card:hover {
  background-color: var(--white);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}

.details-card__image {
  height: 10rem;
  background: var(--grey-400);
}

.details-card__image img {
  height: 100%;
  width: 100%;
}

.details-card__content {
  padding: 1.25rem 11px;
}

.details-card__status {
  margin: 0;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 15px;
}

.details-card__status--green {
  color: var(--green);
}

.details-card__status--red {
  color: var(--red);
}

.details-card__details h4 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
}

.details-card__details > p {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.details-card__details > p + p {
  margin-top: 3px;
}
